data-factory/pipeline/Genericdatapipeline.json
{
	"name": "Genericdatapipeline",
	"properties": {
		"activities": [
			{
				"name": "Lookup1",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "AzureSqlSource",
						"sqlReaderQuery": "SELECT QUOTENAME(t.name) AS tableName, QUOTENAME(SCHEMA_NAME(t.schema_id)) AS schemaName FROM sys.tables as t",
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"dataset": {
						"referenceName": "GenericDB_Ds",
						"type": "DatasetReference",
						"parameters": {
							"serverName_ds": {
								"value": "@pipeline().parameters.serverName_PL",
								"type": "Expression"
							},
							"dbName_ds": {
								"value": "@pipeline().parameters.dbName_PL",
								"type": "Expression"
							}
						}
					},
					"firstRowOnly": false
				}
			},
			{
				"name": "ForEach1",
				"type": "ForEach",
				"dependsOn": [
					{
						"activity": "Lookup1",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('Lookup1').output.value",
						"type": "Expression"
					},
					"activities": [
						{
							"name": "Copy data1",
							"type": "Copy",
							"dependsOn": [],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"source": {
									"type": "AzureSqlSource",
									"sqlReaderQuery": {
										"value": "@concat('SELECT * FROM',item().schemaName, '.', item().tableName)",
										"type": "Expression"
									},
									"queryTimeout": "02:00:00",
									"partitionOption": "None"
								},
								"sink": {
									"type": "DelimitedTextSink",
									"storeSettings": {
										"type": "AzureBlobFSWriteSettings"
									},
									"formatSettings": {
										"type": "DelimitedTextWriteSettings",
										"quoteAllText": true,
										"fileExtension": ".txt"
									}
								},
								"enableStaging": false,
								"translator": {
									"type": "TabularTranslator",
									"typeConversion": true,
									"typeConversionSettings": {
										"allowDataTruncation": true,
										"treatBooleanAsNumber": false
									}
								}
							},
							"inputs": [
								{
									"referenceName": "GenericDB_Ds",
									"type": "DatasetReference",
									"parameters": {
										"serverName_ds": {
											"value": "@pipeline().parameters.serverName_PL",
											"type": "Expression"
										},
										"dbName_ds": {
											"value": "@pipeline().parameters.dbName_PL",
											"type": "Expression"
										}
									}
								}
							],
							"outputs": [
								{
									"referenceName": "ADLSg2_raw_container",
									"type": "DatasetReference",
									"parameters": {
										"serverName_ADLSg2": {
											"value": "@pipeline().parameters.serverName_PL",
											"type": "Expression"
										},
										"dbName_ADLSg2": {
											"value": "@pipeline().parameters.dbName_PL",
											"type": "Expression"
										},
										"tableName_ADLSg2": {
											"value": "@item().tableName",
											"type": "Expression"
										},
										"schemaName_ADLSg2": {
											"value": "@item().schemaName",
											"type": "Expression"
										}
									}
								}
							]
						}
					]
				}
			}
		],
		"parameters": {
			"serverName_PL": {
				"type": "string",
				"defaultValue": "azurecourse.database.windows.net"
			},
			"dbName_PL": {
				"type": "string",
				"defaultValue": "training"
			}
		},
		"annotations": [],
		"lastPublishTime": "2024-10-03T22:30:05Z"
	},
	"type": "Microsoft.DataFactory/factories/pipelines"
}