data-factory/pipeline/Rebrickable User Database Ingestion Task.json
{
	"name": "Rebrickable User Database Ingestion Task",
	"properties": {
		"activities": [
			{
				"name": "Copy - Get Api dataset",
				"description": "Retrieve User dataset ",
				"type": "Copy",
				"dependsOn": [
					{
						"activity": "web - API Key",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": true
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "RestSource",
						"httpRequestTimeout": "00:01:40",
						"requestInterval": "00.00:00:00.010",
						"requestMethod": "GET",
						"additionalHeaders": {
							"Authorization": {
								"value": "@concat('key ', activity('web - API Key').output)",
								"type": "Expression"
							}
						},
						"paginationRules": {
							"AbsoluteUrl": "$.next"
						}
					},
					"enableStaging": false
				},
				"inputs": [
					{
						"referenceName": "Rebrickable_UserAPI_Database_Source_DS",
						"type": "DatasetReference",
						"parameters": {
							"DatasetName_ds": {
								"value": "@pipeline().parameters.DatasetName_pl",
								"type": "Expression"
							}
						}
					}
				]
			},
			{
				"name": "web - API Key",
				"description": "get secret api key",
				"type": "WebActivity",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": true,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"method": "GET",
					"url": "https://asdasd123123.vault.azure.net/secrets/Rebrickable-API-key/8a0e3b6ac4f94136a51c4582e802f220?api-version=7.0",
					"authentication": {
						"type": "MSI",
						"resource": "https://vault.azure.net"
					}
				}
			}
		],
		"parameters": {
			"DatasetName_pl": {
				"type": "string"
			}
		},
		"annotations": []
	}
}