data-factory/pipeline/Rebrickable Lego Database Ingestion Task.json
{
	"name": "Rebrickable Lego Database Ingestion Task",
	"properties": {
		"activities": [
			{
				"name": "copy - Rebrickable Lego dataset",
				"type": "Copy",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "BinarySource",
						"storeSettings": {
							"type": "HttpReadSettings",
							"requestMethod": "GET",
							"additionalHeaders": "User-Agent: Chrome/85.0.4183.121 Safari/537.36"
						},
						"formatSettings": {
							"type": "BinaryReadSettings"
						}
					},
					"sink": {
						"type": "BinarySink",
						"storeSettings": {
							"type": "AzureBlobFSWriteSettings"
						}
					},
					"enableStaging": false
				},
				"inputs": [
					{
						"referenceName": "Rebrickable_Lego_Database_Source",
						"type": "DatasetReference",
						"parameters": {
							"DatasetName_DS": {
								"value": "@pipeline().parameters.DatasetName_pl",
								"type": "Expression"
							}
						}
					}
				],
				"outputs": [
					{
						"referenceName": "Rebrickable_Lego_Database_sink",
						"type": "DatasetReference",
						"parameters": {
							"DatasetName_SinkDS": {
								"value": "@pipeline().parameters.DatasetName_pl",
								"type": "Expression"
							}
						}
					}
				]
			},
			{
				"name": "LKP - dataset name",
				"description": "Select the dataset names",
				"type": "Lookup",
				"state": "Inactive",
				"onInactiveMarkAs": "Succeeded",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "JsonSource",
						"storeSettings": {
							"type": "AzureBlobFSReadSettings",
							"recursive": true,
							"enablePartitionDiscovery": false
						},
						"formatSettings": {
							"type": "JsonReadSettings"
						}
					},
					"dataset": {
						"referenceName": "Reprickable_Lego_Dataset_Names_List_json",
						"type": "DatasetReference"
					},
					"firstRowOnly": false
				}
			},
			{
				"name": "ForEach - Loop over dataset names",
				"type": "ForEach",
				"state": "Inactive",
				"onInactiveMarkAs": "Succeeded",
				"dependsOn": [
					{
						"activity": "LKP - dataset name",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('LKP - dataset name').output.value[0].dataset_names",
						"type": "Expression"
					},
					"isSequential": true,
					"activities": [
						{
							"name": "copy - Rebrickable Lego dataset_copy1_copy1",
							"type": "Copy",
							"dependsOn": [],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"source": {
									"type": "BinarySource",
									"storeSettings": {
										"type": "HttpReadSettings",
										"requestMethod": "GET"
									},
									"formatSettings": {
										"type": "BinaryReadSettings"
									}
								},
								"sink": {
									"type": "BinarySink",
									"storeSettings": {
										"type": "AzureBlobFSWriteSettings"
									}
								},
								"enableStaging": false
							},
							"inputs": [
								{
									"referenceName": "Rebrickable_Lego_Database_Source",
									"type": "DatasetReference",
									"parameters": {
										"DatasetName_DS": {
											"value": "@item()",
											"type": "Expression"
										}
									}
								}
							],
							"outputs": [
								{
									"referenceName": "Rebrickable_Lego_Database_sink",
									"type": "DatasetReference",
									"parameters": {
										"DatasetName_SinkDS": {
											"value": "@item()",
											"type": "Expression"
										}
									}
								}
							]
						}
					]
				}
			},
			{
				"name": "Error Alert",
				"description": "If error Then send an email to admin",
				"type": "WebActivity",
				"dependsOn": [
					{
						"activity": "copy - Rebrickable Lego dataset",
						"dependencyConditions": [
							"Failed"
						]
					},
					{
						"activity": "ForEach - Loop over dataset names",
						"dependencyConditions": [
							"Failed"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"method": "POST",
					"url": "https://prod-03.israelcentral.logic.azure.com:443/workflows/7a4608addcaa47aea287b5f741e71a65/triggers/When_a_HTTP_request_is_received/paths/invoke?api-version=2016-10-01&sp=%2Ftriggers%2FWhen_a_HTTP_request_is_received%2Frun&sv=1.0&sig=7Xgqf8y6rBk2AdFurQf_E4etVy1OxWiMAbPOPpkvBSI",
					"body": {
						"value": "{\n    \"message\" : \"This is a custom dynamic message from your pipeline with run ID @{pipeline().RunId}.\",\n    \"dataFactoryName\" : \"@{pipeline().DataFactory}\", \n    \"pipelineName\" : \"@{pipeline().Pipeline}\", \n    \"receiver\" : \"kareema9022@gmail.com\"\n   }",
						"type": "Expression"
					}
				}
			}
		],
		"parameters": {
			"DatasetName_pl": {
				"type": "string",
				"defaultValue": "-"
			}
		},
		"annotations": []
	}
}